{% extends "webshop/base.html" %}
{% load static %}
{% block title %}Product detail{% endblock %}
{% block body_class %}product-detail{% endblock %}

{% block content %}

<h1>Culpa qui officia</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
    sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <div class="row">

        <div class="col" v-for="item in items">

            <div :id="'offer-id-' + item.pk" :class="'offer offer-' + item.fields['product_code']">

                <div class="offer__image d-flex align-items-center justify-content-center">
                    <img :src="'/media/' + item.fields['product_image']" :alt="item.fields['product_name']">
                </div>

                <div class="offer__details">
                    <h3 class="offer__shop-name"><a :href="'/product/' + item.pk ">{ item.fields['product_name'] }</a></h3>
                    <h4 class="offer__shop-name">{ item.fields['product_shop_name'] }</h4>
                    <div class="offer__description">{ item.fields['product_description'] }</div>
                    <div class="offer__price">{ item.fields['product_price'] } €</div>

                    <div class="d-flex" style="padding: 15px; background-color: #f2f2f2">

                        <div style="width: 100px;margin-right:10px;">
                            <input v-model="item.fields['product_quantity']" type="number" class="form-control" placeholder="Quantity" min="1"/>
                        </div>

                        <button @click="addToCart(item)" class="btn btn-sm btn-primary">Add to Cart</button>

                    </div>

                </div>

            </div>

        </div>

    </div>


{% endblock %}