{% extends "webshop/base.html" %}
{% load static %}
{% block title %}Webshop home{% endblock %}

{% block content %}

<div class="row text-center">
    {% if search %}

    {% for product in search %}

    <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xxl-4">

        <div id="offer-id-{{ product.product_id }}" class="offer offer-{{ product.product_code }}">

            <div class="offer__image d-flex align-items-center justify-content-center">
                <img loading="lazy" src="/media/{{ product.product_image }}" alt="{{ product.product_name }}">
            </div>

            <div class="offer__details">
                <h3 class="offer__shop-name"><a href="/product/{{ product.product_id }}/">{{ product.product_name }}</a></h3>
                <h4 class="offer__shop-name">{{ product.shop_name }}</h4>
                <div class="offer__description" v-text="offer.description">{{ product.product_description }}</div>
                <div class="offer__price">{{ product.product_price }}</div>
            </div>

        </div>

    </div>

    {% endfor %}

    {% else %}
    <p>No products found</p>
    {% endif %}
</div>


{% endblock %}
